---
sitemap: false
---

@import "color";
@import "variables";
@import "typography";
@import "highlighter";
@import "site";

iframe,
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  margin-bottom: 30px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#grid22 {
  display: flex;
  flex-wrap: wrap;
}

#grid img {
  width: 40%;
}
