---
sitemap: false
---

@import "color";
@import "variables";
@import "typography";
@import "highlighter";
@import "site";

iframe,
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  margin-bottom: 30px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#grid22 {
  display: flex;
  flex-wrap: wrap;
}

#grid22 img {
  width: 40%;
}

.banner {
  border-radius: 15px;
  filter: grayscale(100%);
}

.profile {
  border-radius: 50%;
  border: 1px solid black;
  height: 60px;
  margin-right: 15px;
}

.post_profile {
  border-radius: 50%;
  border: 1px solid black;
  height: 20px;
  margin-right: 10px;
  margin-left: initial
}

.post_header {
  display: flex;
}

.super_header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.list {
  margin: 15px 0 15px 0;
}

.outlink:hover {
  font-weight: 800;
}

.post-subtitle {
  margin-bottom: 5px;
}