---
layout: default
---
<header class="post_header">
  <img class="post_profile" src="{{site.url}}/assets/images/profile.jpg">
  <div class="header-small">
    <a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
  </div>
</header>
<div class="post">
  <div class="post-title">{{ page.title }}</div>
  <div class="post-subtitle">{{ page.description }}</div>
  <span class="post-date">
    Published: <time>{{ page.date | date_to_string }}</time>
  {% if page.last_modified_at %}
  </br>
    Last updated: <time>{{ page.last_modified_at | date_to_string }}</time>
  {% endif %}
  {% if page.epistemic_effort or page.epistemic_status %}
  </br>
    <a href="/2021-06-12/epistemic-status">Epistemic status:</a> {% if page.epistemic_status %}{{ page.epistemic_status | status_to_string }}{% endif %}{% if page.epistemic_effort and page.epistemic_status %}, {% endif %}{% if page.epistemic_effort %}{{ page.epistemic_effort | effort_to_string }}{% endif %}.
  {% endif %}
  </span>
  <!-- <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
	</div> --!>

  {{ content }}

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
  <div class="post-disqus">
      <section id="disqus_thread"></section>
      {% include disqus.html %}
  </div>
  {% endif %}
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    const element = document.createElement("a")
    element.href = "https://twitter.com/intent/tweet?screen_name=mati_faure&ref_src=twsrc%5Etfw"
    element.className = "twitter-mention-button"
    element.setAttribute("data-size", "large")
    element.setAttribute("data-text", "RE: {{site.url}}{{page.url}}")
    element.setAttribute("data-lang", "en")
    element.setAttribute("data-show-count", false)
    element.innerHTML = "Tweet to @mati_faure"

    const text = document.createElement("span")
    text.style.fontWeight = "bold"
    text.style.position = "absolute"
    text.innerHTML = "What did you think?"

    const container = document.createElement("div")
    container.style.marginTop = "50px"
    container.style.width = "540px"
    container.appendChild(text)
    container.appendChild(element)

    const footnotes = document.getElementsByClassName("footnotes")
    if (footnotes.length === 0) {
      container.style.marginBottom = "50px"
      const contentContainer = document.getElementsByClassName("content-container")
      const footer = document.getElementsByClassName("footer")
      contentContainer[0].insertBefore(container, footer[0])
    } else {
      const post = document.getElementsByClassName("post")
      post[0].insertBefore(container, footnotes[0])
    }
  })
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
